.button-container {
  width: 150px;
  background-color: #2371ff;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  font-size: 16px;
}
